@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Antonio-Bold';
        font-weight: 900;
        src: url('../../public/assets/fonts/Antonio-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Antonio-Regular';
        src: url('../../public/assets/fonts/Antonio-Regular.ttf') format('truetype');
    }
}