@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Antonio-Bold';
        font-weight: 900;
        src: url('../../public/css/Antonio/static/Antonio-Bold-BDfjfbP5.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Antonio-Semibold';
        font-weight: bold;
        src: url('../../public/css/Antonio/static/Antonio-SemiBold-C_N_fdYk.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Antonio-Regular';
        src: url('../../public/css/Antonio/static/Antonio-Regular-zHLTsyF7.ttf') format('truetype');
    }
}